body {
  background-color: #212222;
}
.abs {
  position: absolute;
}
.abs.fill {
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
.aby {
  top: 50%;
  transform: translateY(-50%);
}
.abc {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.splash {
  width: 400px;
  height: 400px;
}

.initial {
  flex: 1;
  background-color: #222e35;
  border-bottom: 5px solid #00a884;
  /* z-index: -1;
      */
}
.initial img {
  width: 400px;
}

.flex {
  display: flex;
  flex-direction: row;
}
.flex .align {
  align-items: center;
}

.col {
  flex-direction: column !important;
}

.rel {
  position: relative;
}
.intro {
  margin-top: 40px;
  top: 60%;
}
.intro-text {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  top: 70%;
}

.myfontcolor {
  color: #8696a0;
}
.green-head {
  background-color: #00a884;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 222px;
}
.messenger {
  background-color: white;
  top: 40px;
  right: 40px;
  left: 40px;
  bottom: 40px;
  box-shadow: 0px 0px 10px #1c1616;
}

.messenger .inbox {
  width: 450px;
  border-right: 1px solid black;
  flex: inherit;
}
.messenger .chatbox {
  flex: 1;
  overflow: hidden;
}
.fixed {
  position: fixed;
}
.userbox {
  border-bottom: 1px solid #111b21;
  background-color: #222e35;
  padding-top: 5px;
  padding-bottom: 5px;
}
.inbox .userbox .you .user {
  width: 34px;
  height: 34px;
  margin-left: 17px;
}
.inbox .userbox .you .user img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.inbox .userbox .actions {
  flex: 1;
  justify-content: flex-end;
}
.inbox .userbox .actions button {
  width: 50px;
  height: 50px;
  border: 0px;
  margin-left: 2px;
  background-color: transparent;
  color: rgb(184, 184, 184);
}

.fs20 svg {
  font-size: 20px;
}
.fs20 {
  font-size: 20px;
}

.fs15 {
  font-size: 15px;
}
.fs11 {
  font-size: 11px;
}
.fs13 {
  font-size: 13px;
}
.fs16 {
  font-size: 16px;
}
.fs12 {
  font-size: 12px;
}
.fs24 {
  font-size: 24px;
}
