body {
  background-color: #212222;
}
.abs {
  position: absolute;
}
.abs.fill {
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
.aby {
  top: 50%;
  transform: translateY(-50%);
}
.abc {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.splash {
  width: 400px;
  height: 400px;
}

.initial {
  flex: 1;
  background-color: #222e35;
  border-bottom: 5px solid #00a884;
  /* z-index: -1;
      */
}
.initial img {
  width: 400px;
}

.flex {
  display: flex;
  flex-direction: row;
}
.flex .align {
  align-items: center;
}

.col {
  flex-direction: column !important;
}

.rel {
  position: relative;
}
.intro {
  margin-top: 40px;
  top: 60%;
}
.intro-text {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  top: 70%;
}

.myfontcolor {
  color: #8696a0;
}
.green-head {
  background-color: #00a884;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 222px;
}
.messenger {
  background-color: white;
  top: 40px;
  right: 40px;
  left: 40px;
  bottom: 40px;
  box-shadow: 0px 0px 10px #1c1616;
}

.messenger .inbox {
  width: 450px;
  border-right: 1px solid black;
  flex: inherit;
}
.messenger .chatbox {
  flex: 1;
  overflow: hidden;
}
.fixed {
  position: fixed;
}
.userbox {
  border-bottom: 1px solid #111b21;
  background-color: #222e35;
  padding-top: 5px;
  padding-bottom: 5px;
}
.inbox .userbox .you .user {
  width: 34px;
  height: 34px;
  margin-left: 17px;
}
.inbox .userbox .you .user img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.inbox .userbox .actions {
  flex: 1;
  justify-content: flex-end;
}
.inbox .userbox .actions button {
  width: 50px;
  height: 50px;
  border: 0px;
  margin-left: 2px;
  background-color: transparent;
  color: rgb(184, 184, 184);
}

.fs20 svg {
  font-size: 20px;
}
.fs20 {
  font-size: 20px;
}

.fs15 {
  font-size: 15px;
}
.fs11 {
  font-size: 11px;
}
.fs13 {
  font-size: 13px;
}
.fs16 {
  font-size: 16px;
}
.fs12 {
  font-size: 12px;
}
.fs24 {
  font-size: 24px;
}

.search {
  border-top: 1px solid #111b21;
  border-bottom: 1px solid #111b21;
  background-color: #111b21;
  padding: 10px 20px;
}
.search-section button {
  width: 50px;
  height: 50px;
  padding: 6px;
  border: 0px;
  border-radius: 50%;
  background-color: #222e35;
  color: #ddd;
}
.search-section input {
  flex: 1;
  border: 0px;
  background-color: #222e35;
  color: #ddd;
}
.search-section {
  background-color: #222e35;
  border-radius: 10px;
  flex: 1;
}

button {
  outline: none;
  cursor: pointer;
}
input {
  outline: none;
}

.b {
  font-weight: bold;
}

.conversation {
  background-color: #111b21;
  padding: 10px 5px;
}
.conversation .you .user {
  width: 45px;
  height: 45px;
  margin-left: 17px;
}
.you .user img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.meta {
  flex: 1;
  border-bottom: 1px solid #2a3942;
  margin-left: 10px;
  padding-top: 0px;
  margin-right: 3px;
  padding-bottom: 6px;
}
.meta .name {
  color: #e9edef;
}
.badge {
  background-color: #00a884;
  display: table;
  color: #111b21;
  max-width: 50px;
  text-align: center;
  font-size: 13px;
  border-radius: 40%;
  padding: 0px 3px;
  margin-top: 5px;
}

.info {
  flex: 1;
  padding-bottom: 6px;
}
.chatlist {
  overflow-x: hidden;
  background-color: #111b21;
  overflow-y: auto;
  flex: 1;
}
.chatlist::-webkit-scrollbar {
  width: 5px;
}
/* Track */
.chatlist::-webkit-scrollbar-track {
  background: #111b21;
}
/* Handle */
.chatlist::-webkit-scrollbar-thumb {
  background: #2d434f;
}
/* Handle on hover */
.chatlist::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.wordwrap {
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  max-width: 99%;
  text-overflow: ellipsis;
}

/* Yahoo css reset  */

html {
  color: #000;
  /* background: #fff;
      */
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
}
legend {
  color: #000;
}
#yui3-css-stamp.cssreset {
  display: none;
}
